/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */
  /* Start of "Micro clearfix" */
  
  .cf {
    zoom: 1;
  }
  .cf:before,
  .cf:after {
    content: "";
    display: table;
  }
  .cf:after {
    clear: both;
  }
  
  /* End of "Micro clearfix" */
  

  main{
    background-color: lightgray;
    width: 80vw;
    margin: 20px auto;
    /*background-image: url(../img/grid.png);*/
  }
  
  header.primary, footer.primary {
    background-color: yellow;
    /*margin: 20px;*/
    margin: 2.09%;
    /*width: 916px;*/
    width: 95.42%;
    /*padding: 20px;*/
    padding: 2.18%;
    float: left;
  }

  #blog{
    background-color: lightgreen;
    /*margin-left: 20px;*/
    margin-left: 2.09%;
    /*width: 526px;*/
    width: 54.79%;
    float: left;
    /*padding: 20px;*/
    padding: 2.19%;
  }

  aside{
    background-color: lightskyblue;
    float: left;
    /*width: 370px;*/
    width: 38.54%;
    /*margin-left: 20px;*/
    margin-left: 2.09%;
    /*padding: 20px;*/
    padding: 2.19%;
  }

  @media screen and (min-width:800px){
    main{
      width: 960px;
    }
  }

  @media screen and (min-width:800px){
    main{
      width: 960px;
    }
  }