html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ------ Typography -------*/
body{
  font-family: 'Inter', sans-serif;
}
/* ------ Fluid Images -------*/
img{
  max-width:100%;
}

/* ------ Utility Classes  -------*/
.container{
  margin:0 auto;
  background:rgba(0,0,0,.15);
  width:480px;
}
/* ------ Helper Classes -------*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/* ------ Global Styles -------*/
body{
  background:#F0F8FF;
  color:#222222;
  line-height:1.6
} 
a:link, a:visited{
  color:#222;
}

main{
  padding: 1px 20px;
}