html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ------ Typography -------*/
body{
  font-family: 'Inter', sans-serif;
}
/* ------ Fluid Images -------*/
img{
  max-width:100%;
  border-radius: 50%;
  border: solid 3pt #F0F8FF;
}

/* ------ Utility Classes  -------*/
.container{
  margin:0 auto;
  width:480px;
}

/* ------ Helper Classes -------*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/* ------ Global Styles -------*/
body{
  background:#F0F8FF;
  color:#222222;
  line-height:1.6;
} 
a:link, a:visited{
  color:#222;
}

main{
  padding: 1px 20px;
  background-color: #36558F;
  color: white;
  line-height: 1.6;
  padding: 20px;
}

.container h1{
  border: #F0F8FF 2pt solid;
  border-radius: 25px;
  text-align: center;
}

.container h2{
  text-align: center;
}

nav{
  
}



@media screen and (min-width: 768px){
  main.container {
    max-width: 900px;
    grid-template-columns: 36.5% auto;
    grid-template-areas: 
    "title title"
    "about about"
    "skills experience"
    ". education"
    ;


  }



}