* {
  margin: 0;
  padding: 0;
}

.clearfix {
  overflow: auto;
}

img{
  width: auto;
}

/* -----Navigtion CSS----*/

.background{
  background-color: #FDFDFF;
  font-family: 'Arlita', sans-serif;
}

.custom{
  font-size: 40px;
  text-decoration: none;
  color: black;
  margin: 10px;
}

.reverse{
  font-size: 20px;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 100px;
}

.banner{
  position: relative;
  background-size: cover;
  background-position:center;
  height: 500px;
}

#home-img{
  background-image: url(../img/background3.JPG);
}

#about-img{
  background-image: url(../img/about-me.jpg);
}

#blog-img{
  background-image: url(../img/blog-banner.JPG);
}

#photography-img{
  background-image: url(../img/walking-group-night.jpg);
}


.banner-text{
  color: white;
  text-align: center;
  padding-top: 180px;
  font-family: 'AOK Buenos Aires', sans-serif;
}

/*---- header waves ---*/

.custom-shape-divider-bottom-1682437795 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1682437795 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 116px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1682437795 .shape-fill {
  fill: #FFFFFF;
}

/*-----Home Page-----*/

#home-content, #about-content, #photography-content{
  padding: 50px;
}

#blog-content{
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}

.home-intro h1, .about-intro h1, .blog-intro h1, .photography-intro h1{
  font-family: 'Neometric Alt', sans-serif;
  font-size: 35pt;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1pt solid black;
}

.blog-cards h1{
  font-family: 'Neometric Alt', sans-serif;
  font-size: 30pt;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1pt solid black;
}

.home-intro, .blog-cards, .about-intro, .blog-intro, .photography-intro{
  margin: 40px 0;
  padding: 20px;
}

.home-intro p{
    margin: 15px 30px;
    font-size: 17pt;
    padding: 10px 10px;
    text-align: center;
}

.home-body{
  padding: 20px;
}

/*card wrapper*/
#blog-card-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.btn, .btn-primary{
  background-color: #FCD5CE !important;
  border: none !important;
  color: black !important;
  text-align: right !important;
  scroll-behavior: smooth;
}

.card{
  height: 700px;
  width: 500px;
}

.card-body{
  max-width: 500px;
}


.contact{
  padding: 0 40px;
  background-color: #FFD7BA; 
}

/*--ABOUT--*/

.about-intro p{
  margin: 15px 30px;
  font-size: 17pt;
  padding: 10px 10px;
  text-align: center;
}

/*---BLOG---*/

.blog-container{
  padding: 0 100px;
  display: flex;
  flex-direction: column;
}

.small-wrapper{
  border: 1pt solid black;
  border-radius: 5px;
  margin: 20px 0;
  padding: 10px;
}

.blog-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.blog-intro p{
  margin: 15px 30px;
  font-size: 17pt;
  padding: 10px 10px;
  text-align: center;
}

.btn-text{
  font-family: 'Neometric Alt', sans-serif;
  font-size: 15pt !important;
}

.bg-orange{
  background-color: #f8edeb!important;
  color: #000000 !important;
  border: 1pt solid black;
}

.thumbnail img{
  border-radius: 5px;
  padding-bottom: 10px;
}

/*---PHOTOGRAPHY PAGE----*/


.photo-gallery{
  padding: 20px;
}

.photography-intro p{
  margin: 15px 30px;
  font-size: 17pt;
  padding: 10px 10px;
  text-align: center;
}